/****** Object:  Database [wyrmspan]    Script Date: 05/03/26 19:54:53 ******/
CREATE DATABASE [wyrmspan]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_1', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[caves]    Script Date: 05/03/26 19:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[caves](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[wyrm_actions] [int] NULL,
 CONSTRAINT [PK_caves] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dragons]    Script Date: 05/03/26 19:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dragons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[picture] [varchar](200) NULL,
	[coin_cost] [int] NULL,
	[meat_cost] [int] NULL,
	[gold_cost] [int] NULL,
	[amethyst_cost] [int] NULL,
	[milk_cost] [int] NULL,
	[egg_capacity] [int] NULL,
	[dragon_size] [int] NULL,
	[vp] [int] NULL,
	[nature] [int] NULL,
	[wyrm_actions] [int] NULL,
	[top_placeable] [bit] NULL,
	[mid_placeable] [bit] NULL,
	[bottom_placeable] [bit] NULL,
 CONSTRAINT [PK_dragons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_history]    Script Date: 05/03/26 19:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[player_1] [int] NULL,
	[player_2] [int] NULL,
	[player_3] [int] NULL,
	[player_4] [int] NULL,
	[victor] [int] NULL,
 CONSTRAINT [PK_game_history] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guild_reward]    Script Date: 05/03/26 19:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guild_reward](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uses] [int] NULL,
	[wyrm_action] [int] NULL,
 CONSTRAINT [PK_guild_reward_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guilds]    Script Date: 05/03/26 19:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guilds](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NULL,
	[reward_1] [int] NULL,
	[reward_2] [int] NULL,
	[reward_3] [int] NULL,
	[reward_4] [int] NULL,
	[color] [int] NULL,
 CONSTRAINT [PK_guilds] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 05/03/26 19:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](500) NOT NULL,
	[pfp] [nvarchar](255) NOT NULL,
	[won] [int] NULL,
	[played] [int] NULL,
	[lifetime_points] [int] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wyrm_actions]    Script Date: 05/03/26 19:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wyrm_actions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[activator] [int] NULL,
	[max_uses] [int] NULL,
	[opp_uses] [int] NULL,
	[gains] [int] NULL,
	[losses] [int] NULL,
	[choose_cost] [bit] NULL,
	[choose_reward] [bit] NULL,
	[num_cost] [int] NULL,
	[num_reward] [int] NULL,
	[description] [varchar](50) NULL,
 CONSTRAINT [PK_wyrm_actions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[caves] ON 

INSERT [dbo].[caves] ([id], [wyrm_actions]) VALUES (1, 1)
INSERT [dbo].[caves] ([id], [wyrm_actions]) VALUES (2, 1)
INSERT [dbo].[caves] ([id], [wyrm_actions]) VALUES (3, 1)
SET IDENTITY_INSERT [dbo].[caves] OFF
GO
SET IDENTITY_INSERT [dbo].[dragons] ON 

INSERT [dbo].[dragons] ([id], [name], [picture], [coin_cost], [meat_cost], [gold_cost], [amethyst_cost], [milk_cost], [egg_capacity], [dragon_size], [vp], [nature], [wyrm_actions], [top_placeable], [mid_placeable], [bottom_placeable]) VALUES (1, N'Spry Horned Lung Dragon', N'', 0, 2, 0, 0, 0, 2, 2, 3, 1, 1, 1, 0, 0)
INSERT [dbo].[dragons] ([id], [name], [picture], [coin_cost], [meat_cost], [gold_cost], [amethyst_cost], [milk_cost], [egg_capacity], [dragon_size], [vp], [nature], [wyrm_actions], [top_placeable], [mid_placeable], [bottom_placeable]) VALUES (2, N'Descending Firevern', N'', 0, 0, 0, 3, 0, 3, 1, 4, 2, 1, 0, 0, 1)
INSERT [dbo].[dragons] ([id], [name], [picture], [coin_cost], [meat_cost], [gold_cost], [amethyst_cost], [milk_cost], [egg_capacity], [dragon_size], [vp], [nature], [wyrm_actions], [top_placeable], [mid_placeable], [bottom_placeable]) VALUES (3, N'Speedy Lung Dragon', N'', 0, 0, 3, 0, 0, 1, 3, 5, 3, 1, 0, 1, 0)
SET IDENTITY_INSERT [dbo].[dragons] OFF
GO
SET IDENTITY_INSERT [dbo].[guild_reward] ON 

INSERT [dbo].[guild_reward] ([id], [uses], [wyrm_action]) VALUES (1, 1, 1)
INSERT [dbo].[guild_reward] ([id], [uses], [wyrm_action]) VALUES (2, 1, 1)
INSERT [dbo].[guild_reward] ([id], [uses], [wyrm_action]) VALUES (3, 1, 1)
SET IDENTITY_INSERT [dbo].[guild_reward] OFF
GO
SET IDENTITY_INSERT [dbo].[guilds] ON 

INSERT [dbo].[guilds] ([id], [name], [reward_1], [reward_2], [reward_3], [reward_4], [color]) VALUES (1, N'Quetzalcoatl', 1, 2, 3, 4, NULL)
SET IDENTITY_INSERT [dbo].[guilds] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [pfp], [won], [played], [lifetime_points]) VALUES (5, N'Cerulean Bluescreen', N'$2a$11$moxWcAKIWch7OFvz9sdwA.aTaDwry9VExh3a8Fkr7SFRYTUa4zG8K', N'https://f2.toyhou.se/file/f2-toyhou-se/images/119186624_WkG7ZD97ocX3wik.png', NULL, 2, NULL)
INSERT [dbo].[users] ([id], [username], [password], [pfp], [won], [played], [lifetime_points]) VALUES (6, N'Mercedes', N'$2a$11$3qpsUam2nDlvjewIQczeJuZvUKPwtnW/QOCgh2KKS6Y6bq2kYQc0.', N'https://f2.toyhou.se/file/f2-toyhou-se/images/117480637_dzWADYEtlaBTmUV.png', NULL, 2, NULL)
INSERT [dbo].[users] ([id], [username], [password], [pfp], [won], [played], [lifetime_points]) VALUES (9, N'Cider', N'$2a$11$WD8PhupQCohg//TJ3ZCugO2SfaZMVbvfB1RXiw1ca3J2m9ZqXtcLC', N'say gex', NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[wyrm_actions] ON 

INSERT [dbo].[wyrm_actions] ([id], [activator], [max_uses], [opp_uses], [gains], [losses], [choose_cost], [choose_reward], [num_cost], [num_reward], [description]) VALUES (1, 1, 1, 0, 100000000, 0, 0, 0, 0, 1, N'Gain 1 Coin')
INSERT [dbo].[wyrm_actions] ([id], [activator], [max_uses], [opp_uses], [gains], [losses], [choose_cost], [choose_reward], [num_cost], [num_reward], [description]) VALUES (2, 1, 1, 0, 100000000, 0, 0, 0, 0, 2, N'Gain 2 Coin')
INSERT [dbo].[wyrm_actions] ([id], [activator], [max_uses], [opp_uses], [gains], [losses], [choose_cost], [choose_reward], [num_cost], [num_reward], [description]) VALUES (3, 1, 1, 0, 10000000, 0, 0, 0, 0, 2, N'Gain 2 Meat')
SET IDENTITY_INSERT [dbo].[wyrm_actions] OFF
GO
ALTER TABLE [dbo].[caves]  WITH CHECK ADD  CONSTRAINT [FK_caves_actions] FOREIGN KEY([wyrm_actions])
REFERENCES [dbo].[wyrm_actions] ([id])
GO
ALTER TABLE [dbo].[caves] CHECK CONSTRAINT [FK_caves_actions]
GO
ALTER TABLE [dbo].[dragons]  WITH CHECK ADD  CONSTRAINT [FK_dragons_actions] FOREIGN KEY([wyrm_actions])
REFERENCES [dbo].[wyrm_actions] ([id])
GO
ALTER TABLE [dbo].[dragons] CHECK CONSTRAINT [FK_dragons_actions]
GO
ALTER TABLE [dbo].[game_history]  WITH CHECK ADD  CONSTRAINT [FK_history_users_player1] FOREIGN KEY([player_1])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[game_history] CHECK CONSTRAINT [FK_history_users_player1]
GO
ALTER TABLE [dbo].[game_history]  WITH CHECK ADD  CONSTRAINT [FK_history_users_player2] FOREIGN KEY([player_2])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[game_history] CHECK CONSTRAINT [FK_history_users_player2]
GO
ALTER TABLE [dbo].[game_history]  WITH CHECK ADD  CONSTRAINT [FK_history_users_player3] FOREIGN KEY([player_3])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[game_history] CHECK CONSTRAINT [FK_history_users_player3]
GO
ALTER TABLE [dbo].[game_history]  WITH CHECK ADD  CONSTRAINT [FK_history_users_player4] FOREIGN KEY([player_4])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[game_history] CHECK CONSTRAINT [FK_history_users_player4]
GO
ALTER TABLE [dbo].[guild_reward]  WITH CHECK ADD  CONSTRAINT [FK_reward_actions] FOREIGN KEY([wyrm_action])
REFERENCES [dbo].[wyrm_actions] ([id])
GO
ALTER TABLE [dbo].[guild_reward] CHECK CONSTRAINT [FK_reward_actions]
GO
ALTER TABLE [dbo].[guilds]  WITH CHECK ADD  CONSTRAINT [FK_guild_reward1] FOREIGN KEY([reward_1])
REFERENCES [dbo].[guild_reward] ([id])
GO
ALTER TABLE [dbo].[guilds] CHECK CONSTRAINT [FK_guild_reward1]
GO
ALTER TABLE [dbo].[guilds]  WITH CHECK ADD  CONSTRAINT [FK_guild_reward2] FOREIGN KEY([reward_2])
REFERENCES [dbo].[guild_reward] ([id])
GO
ALTER TABLE [dbo].[guilds] CHECK CONSTRAINT [FK_guild_reward2]
GO
ALTER TABLE [dbo].[guilds]  WITH CHECK ADD  CONSTRAINT [FK_guild_reward3] FOREIGN KEY([reward_3])
REFERENCES [dbo].[guild_reward] ([id])
GO
ALTER TABLE [dbo].[guilds] CHECK CONSTRAINT [FK_guild_reward3]
GO
ALTER TABLE [dbo].[guilds]  WITH CHECK ADD  CONSTRAINT [FK_guild_reward4] FOREIGN KEY([reward_4])
REFERENCES [dbo].[guild_reward] ([id])
GO
ALTER TABLE [dbo].[guilds] CHECK CONSTRAINT [FK_guild_reward4]
GO
