USE [master]
GO
/****** Object:  Database [wyrmspan]    Script Date: 3/11/2026 9:10:22 AM ******/
CREATE DATABASE [wyrmspan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'wyrmspan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\wyrmspan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'wyrmspan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\wyrmspan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [wyrmspan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [wyrmspan]
GO
/****** Object:  Table [dbo].[caves]    Script Date: 3/11/2026 9:10:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[caves](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[wyrm_action] [int] NULL,
 CONSTRAINT [PK_caves] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dragons]    Script Date: 3/11/2026 9:10:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dragons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[picture] [varchar](200) NULL,
	[coin_cost] [int] NULL,
	[meat_cost] [int] NULL,
	[gold_cost] [int] NULL,
	[amethyst_cost] [int] NULL,
	[milk_cost] [int] NULL,
	[egg_capacity] [int] NULL,
	[dragon_size] [int] NULL,
	[vp] [int] NULL,
	[nature] [int] NULL,
	[wyrm_actions] [int] NULL,
	[top_placeable] [tinyint] NULL,
	[mid_placeable] [tinyint] NULL,
	[bottom_placeable] [tinyint] NULL,
 CONSTRAINT [PK_dragons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_history]    Script Date: 3/11/2026 9:10:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[player_1] [int] NULL,
	[player_2] [int] NULL,
	[player_3] [int] NULL,
	[player_4] [int] NULL,
	[victor] [int] NULL,
 CONSTRAINT [PK_game_history] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guild_reward]    Script Date: 3/11/2026 9:10:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guild_reward](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uses] [int] NULL,
	[wyrm_action] [int] NULL,
 CONSTRAINT [PK_guild_reward_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guilds]    Script Date: 3/11/2026 9:10:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guilds](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NULL,
	[reward_1] [int] NULL,
	[reward_2] [int] NULL,
	[reward_3] [int] NULL,
	[reward_4] [int] NULL,
	[color] [int] NULL,
 CONSTRAINT [PK_guilds] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 3/11/2026 9:10:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](13) NULL,
	[password] [varchar](50) NULL,
	[pfp] [varchar](200) NULL,
	[won] [int] NULL,
	[played] [int] NULL,
	[lifetime_points] [int] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wyrm_actions]    Script Date: 3/11/2026 9:10:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wyrm_actions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[activator] [int] NULL,
	[max_uses] [int] NULL,
	[opp_uses] [int] NULL,
	[gains] [int] NULL,
	[losses] [int] NULL,
	[choose_cost] [tinyint] NULL,
	[choose_reward] [tinyint] NULL,
	[num_cost] [int] NULL,
	[num_reward] [int] NULL,
	[description] [varchar](50) NULL,
 CONSTRAINT [PK_wyrm_actions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[caves]  WITH CHECK ADD  CONSTRAINT [FK_caves_actions] FOREIGN KEY([wyrm_action])
REFERENCES [dbo].[wyrm_actions] ([id])
GO
ALTER TABLE [dbo].[caves] CHECK CONSTRAINT [FK_caves_actions]
GO
ALTER TABLE [dbo].[dragons]  WITH CHECK ADD  CONSTRAINT [FK_dragons_actions] FOREIGN KEY([wyrm_actions])
REFERENCES [dbo].[wyrm_actions] ([id])
GO
ALTER TABLE [dbo].[dragons] CHECK CONSTRAINT [FK_dragons_actions]
GO
ALTER TABLE [dbo].[game_history]  WITH CHECK ADD  CONSTRAINT [FK_history_users_player1] FOREIGN KEY([player_1])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[game_history] CHECK CONSTRAINT [FK_history_users_player1]
GO
ALTER TABLE [dbo].[game_history]  WITH CHECK ADD  CONSTRAINT [FK_history_users_player2] FOREIGN KEY([player_2])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[game_history] CHECK CONSTRAINT [FK_history_users_player2]
GO
ALTER TABLE [dbo].[game_history]  WITH CHECK ADD  CONSTRAINT [FK_history_users_player3] FOREIGN KEY([player_3])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[game_history] CHECK CONSTRAINT [FK_history_users_player3]
GO
ALTER TABLE [dbo].[game_history]  WITH CHECK ADD  CONSTRAINT [FK_history_users_player4] FOREIGN KEY([player_4])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[game_history] CHECK CONSTRAINT [FK_history_users_player4]
GO
ALTER TABLE [dbo].[guild_reward]  WITH CHECK ADD  CONSTRAINT [FK_reward_actions] FOREIGN KEY([wyrm_action])
REFERENCES [dbo].[wyrm_actions] ([id])
GO
ALTER TABLE [dbo].[guild_reward] CHECK CONSTRAINT [FK_reward_actions]
GO
ALTER TABLE [dbo].[guilds]  WITH CHECK ADD  CONSTRAINT [FK_guild_reward1] FOREIGN KEY([reward_1])
REFERENCES [dbo].[guild_reward] ([id])
GO
ALTER TABLE [dbo].[guilds] CHECK CONSTRAINT [FK_guild_reward1]
GO
ALTER TABLE [dbo].[guilds]  WITH CHECK ADD  CONSTRAINT [FK_guild_reward2] FOREIGN KEY([reward_2])
REFERENCES [dbo].[guild_reward] ([id])
GO
ALTER TABLE [dbo].[guilds] CHECK CONSTRAINT [FK_guild_reward2]
GO
ALTER TABLE [dbo].[guilds]  WITH CHECK ADD  CONSTRAINT [FK_guild_reward3] FOREIGN KEY([reward_3])
REFERENCES [dbo].[guild_reward] ([id])
GO
ALTER TABLE [dbo].[guilds] CHECK CONSTRAINT [FK_guild_reward3]
GO
ALTER TABLE [dbo].[guilds]  WITH CHECK ADD  CONSTRAINT [FK_guild_reward4] FOREIGN KEY([reward_4])
REFERENCES [dbo].[guild_reward] ([id])
GO
ALTER TABLE [dbo].[guilds] CHECK CONSTRAINT [FK_guild_reward4]
GO
USE [master]
GO
