body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-bar {
    display: flex;
    gap: 20px; 
    padding: 10px;
    background: rgb(214, 240, 240);
    border: 2px solid #382316;
    border-radius: 6px; /* rounded corners*/
    box-shadow: 1px 1px 2px rgb(174, 178, 178); /*shadow*/
    flex-wrap: wrap; /*wraps inner elements when sizing changes*/
}

.resource {
    padding: 5px 10px; /*padds top and bottom by 5px. Pads sides by 10px*/
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 1px 1px 2px rgb(174, 178, 178); /*inner shadow for inset visual*/
}

.board {
    height: 575px; /*board height maintains 575px*/
    border: 3px solid #382316;
    border-radius: 6px;
    margin: 20px 0;
    position: relative; /*position is relative to the window*/
    background-color: rgb(199, 239, 239);
    background: url('/images/map.PNG'); /*Background overlay image*/
    background-size: cover; /*background covers entire board*/
    background-repeat: no-repeat; /*background does not repeat*/
    background-position: center; /*centers background*/
}
.board::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(199,239,239,0.6);
    z-index: 0;
}
.shop {
    width: 30vw; /*Width adjusts at a ratio based on overall site width*/
    height: 100%;
    min-width: 400px; /*A minimum value for width to keep readability*/
    border: 2px solid #382316;
    border-radius: 6px;
    margin: 5px;
    background-color: rgb(199, 239, 239);
    background:
        linear-gradient(rgba(199,239,239,0.6),rgba(199,239,239,0.6)), /*Overlays image to reduce opacity*/
        url('/images/map.PNG'); /*Background overlay image*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cavern-slot {
    width: 24.2%; /*Maintains 24.2% of container's width*/
    height: 100%; /*Maintains 100% of container's height*/
    background: rgba(255, 255, 255, 0.75); /*Background with opacity level*/
    border: 2px solid rgb(0, 54, 54);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: transform 0.2s ease; /*Transition for hovering over cards*/
    z-index:1;
}
.cavern-slot img {
    height: 75%; /*Maintains 75% of container's height*/
}
.card-slot:hover{
    transform: scale(1.3); /*Scales card-slot when hovered over*/
    z-index: 10;
}

.cavern-card {
    width: 100%; /*Maintains 100% of container's width*/
    height: 100%; /*Maintains 100% of container's height*/
}
.cavern-container {
    height: 100%; /*Maintains 100% of container's height*/
    margin: 13px;
    left: 10%; /*Ofset from container's left edge*/
    display: flex;
    flex-direction: column; 
    gap: 10px;
    align-items: center;
}
.cards-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between; /*Content maintains gaps between eachother*/
        width: 100%;
}
.cavern-row {
    width: 100%; /*Maintains 100% of container's width*/
    height: 25%; /*Maintains 30% of container's height*/
    display: flex;
    gap: 10px;
}

.action-button {
    margin: 5px;
    background: teal;
    color: white;
    border: 2px solid rgb(0, 54, 54);
    cursor: pointer; /*Cursor appears as a pointer*/
}

.skip-button {
    margin: 5px;
    background: rgb(134, 134, 134);
    color: white;
    border: 2px solid rgb(51, 51, 51);
    cursor: pointer; /*Cursor appears as a pointer*/
}
/*When skip button is disabled change coloration and cursor to make unclickable and visualized.*/
.skip-button:disabled {
    background-color: #888;
    color:#333;
    cursor: not-allowed;
}
.cancel-button {
    margin: 5px;
    background: rgb(128, 0, 0);
    color: white;
    border: 2px solid rgb(54, 0, 0);
    cursor: pointer; /*Cursor appears as a pointer*/
}
/*When cancel button is disabled change coloration and cursor to make unclickable and visualized.*/
.cancel-button:disabled {
    background-color: #888;
    color:#333;
    cursor: not-allowed;
}

.hand {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.card-row {
    display: flex;
    flex-wrap: wrap; /*Wraps containers content when container's size changes*/
    justify-content: center;
    align-items: flex-start;
}

.card-slot {
    width: 18vw; /*Width adjusts at a ratio based on overall site width*/
    height: 26vw; /*Height adjusts at a ratio based on overall site width*/
    max-width: 144px; /*Maximum width of cards*/
    max-height: 200px; /*Maximum height of cards*/
    min-width: 96px; /*Minimum width of cards*/
    min-height: 133px; /*Minimum height of cards*/
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(238, 233, 224);
    border-radius: 6px;
    flex-shrink:  0;

}

.card {
    border: 1px solid rgb(186, 195, 195);
    background: white;
    box-shadow: 1px 1px 2px rgb(174, 178, 178); /*Creates a shadow around container*/
    padding: 2px;
    width: 100%; /*Maintains 100% of container's width*/
    height: 100%; /*Maintains 100% of container's height*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.card img {
    width: 100%; /*Maintains 100% of container's width*/
    height: auto; /*Automatic height based of of input img*/
    max-height: 50%; /*Max-height 50% of container's width*/
    object-fit: contain;
    display: block;
}
.card-text {
    font-size: clamp(7px,1.4vw,12px);
    text-align: center;
    line-height: 1.5; /*Distance between lines of text*/
    font-weight: 400;
    color: #333;
}
.cavern-text {
    font-size: clamp(6px,2vw,22px);
    text-align: center;
    line-height: 1; /*Distance between lines of text*/
    font-weight: bold;
    color: #333;
    text-shadow: /*Outlines text with a border for separation from detailed background*/
        -1px -1px 0 aliceblue,
        1px -1px 0 aliceblue,
        -1px 1px 0 aliceblue,
        1px 1px 0 aliceblue;
    z-index: 1;
}
.cavern-slot-text{
    font-size: clamp(6px,1.8vw,20px);
    text-align: center;
    line-height: 1; /*Distance between lines of text*/
    color: #333;
    z-index: 1;
}
.cost-text {
    font-size: clamp(7px,1.4vw,12px);
    text-align: center;
    line-height: 1.5; /*Distance between lines of text*/
    font-weight: 400;
    color: #333;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* The Modal (background) */
.modalCard {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

/* Modal Content/Box */
.modalCard-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#rulesBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9000;

    padding: 8px 12px;
    background: teal;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}